.charts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart{
    height: 500px;
    width: 90%;
    background-color: #F5EDD7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.charts-info{
    display: flex;
    margin-top: 5%;
    /* border: 1px solid red; */
    width: 100%;

}

.chart-btns{
    height: 500px;
    /* border: 1px solid blue; */
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.chart-btn{
    background: none;
    height: 80px;
    width: 80px;
    background-color: #CEE2DF;
    border-radius: 8px;
}