.profilepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info{
    width: 100%;
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border-radius: 50%;
    background-color: #C1DDD8;
    height: 90px;
    width: 90px;
    margin-left: 30px;
}

.home-link{
    margin-left: 30px;
}

.user-babies-info{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
   
}

.baby-item-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.baby-title{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.baby-info{
    /* border: 1px solid red; */
    width: 400px;
    height: 80px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 30px;
    border-radius: 8px;
    background-color: #F5E4DC;
    justify-content: center;
    /* align-items: center; */
  
}

.info-item{
    margin-left: 15px;
    /* margin-bottom: 15px; */
}

.util-btn{
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.delete-btn{
    background-color: #F2C2C2;
}

.edit-btn{
    background-color: #F5EDD7;
}

.profile-page-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 30px;
}

.profile-page-form-input{
    border-radius: 8px;
    margin-bottom: 5px;
}