.option-modal-container{
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.option-modal-item{
    /* border: 1px solid red; */
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: #CEE2DF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.option-modal-image{
    width: 100%;
    display: block;
    
}

.option-modal-icon-container{
    /* border: 1px solid green; */
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    /* overflow: hidden; */
}

.option-modal-logType{
    /* border: 1px solid red; */
    position: absolute;
    top: 30px;
    
}