.edit-page-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-top: 30px;   
}

.edit-page-container{
    display: flex;
    flex-direction: column;
}

.edit-page-btn{
    background-color: #9EC4C5;
}

.edit-data{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.data-item{
    background-color: #C1DDD8;
    margin-bottom: 15px;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.data-container{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
    width: 100%;
}

.edit-page-form-input{
    background-color: #C4C4C4;
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;
}

.edit-page-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #C1DDD8;
    height: 100px;
    width: 250px;
    border-radius: 8px;

}