*{
    font-family: 'Epilogue', sans-serif;
}

.log-item{
    /* border: 1px solid red; */
    height: 250px;
    width: 250px;
    border-radius: 8px;
    background-color: #CEE2DF;
    cursor: pointer;
}

.log-item-title{
    font-size: medium;
    position: relative;
    left: 90px;
    top: 20px;
}