*{
    font-family: 'Epilogue', sans-serif;
    margin: 0px;
    padding: 0px;
}

.log-item{
    /* border: 1px solid red; */
    height: 250px;
    width: 250px;
    border-radius: 8px;
    background-color: #CEE2DF;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.log-item-title{
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 80px;
    width: 80px;
    margin-right: 15px;
    margin-top: 15px;
}

.icon-container{
    /* border: 1px solid red; */
    height: 80px;
    width: 80px;
    border-radius: 8px;
    margin-left: 15px;
    margin-top: 15px;
}

.log-item-icon{
    border: 1px solid green;
    width: 100%;
    display: block;
    box-sizing: border-box;
    /* height: 40px; */
}

.icon-image{
    max-width: 100%;
    
   
}