*{
    font-family: 'Epilogue', sans-serif;
    margin: 0px;
    padding: 0px;
}

.log-item{
    /* border: 1px solid red; */
    height: 250px;
    width: 250px;
    border-radius: 8px;
    background-color: #CEE2DF;
    cursor: pointer;
}

.log-item-title{
    font-size: medium;
    position: relative;
    left: 90px;
    top: 20px;
}

.icon{
    border: 1px solid red;
    height: 50px;
    width: 50px;
}

.log-item-icon{
    border: 1px solid green;
    width: 100%;
    display: block;
    box-sizing: border-box;
    /* height: 40px; */
}